body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(header.jpg) no-repeat center center fixed;
  background-size: cover;
}
h1 {
  font-size: 3rem;
  color: #a2b6c9;
  /* text-transform: uppercase; */
}
hr {
  border-color: #a2b6c9;
  border-width: 2px;
  opacity: 0.5;
  width: 600px;
}
.btn-primary{
  background-color: #a2b6c9;
  color: rgb(55, 12, 104);
  border-color: #a2b6c9;
  transition: transform 0.3s;
}
.btn-primary:hover {
  background-color: #a2b6c9;
  transform: scale(1.1);
}
.buffer {
  height: 170px;
}